*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial;
}

//variables

$colorOrange: #fc7b27;

$colorBlue : #3aa7e4;

$fuenteInmuebles: #4c3333;

$fondoGris: #eaeaea;

$colorLetrasFooter: #8d849d;


//funciones

@mixin limpiarFloat{
	float: none;
	clear: both;
}

@mixin sinEstilos($colorFuente){
	text-decoration: none;
	color: $colorFuente;
}

@mixin ordenarMenu($flexSeparacion){
	list-style: none;
	display: flex;
	justify-content: $flexSeparacion;
	align-items: center;
}

@mixin cabecera($altura){
	width: 85%;
	height: $altura;
	margin: 0px auto;
	background: white;
}

#header{
	whidth: 100%;
	height: 80px;
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 1px 5px 0px #ccccccd6;


	#superior{

		@include cabecera(45px);
		line-height: 40px;

		img{
			height: 27px;
			margin-top: 5px;
		}

		#login{
			float: right;
			
			a{
				@include sinEstilos(black);
				font-size: 14px;
				font-weight: bold;
				margin-right: 5px;
				margin-left: 10px;
			}

			a:nth-child(2){
				@include sinEstilos($colorOrange);
			}

			span{
				position: relative;
				top:3px;
				color: $colorOrange;
				cursor: pointer;
			}

		}

		.clear{
			@include limpiarFloat();
		}

	}

	#inferior{
		@include cabecera(34px);
		display: flex;
		justify-content: space-between;
		align-items: center;

		#nav{
			width: 37%;

			#menu{
				height: 100%;
				@include ordenarMenu(space-between);
				position: relative;



				li{
					display: block;

					a{
						color: black;
						font-size: 14px;
						text-decoration: none;
						padding-bottom:8px;

						span{
							position: relative;
							top: 2px;
						}
					}

					#sub-comprar{
						position: absolute;
						z-index: 2;
						background: white;
						margin-top: 10px;
						width: 1000px;
						height: 375px;
						border-radius: 5px;
						display: none;
						justify-content: space-between;
							
						.sub-parrafo{
							width: 25%;
							padding-top: 30px;
							padding-left: 20px;

							p{
								font-size: 15px;
								padding-bottom: 15px;
								font-weight: bold;
							}

							.sub-items{
								padding-bottom: 10px;

								a{
									color: $colorBlue;
									border-bottom: none;
								}
							}
						}

					}

					#sub-alquilar{
						position: absolute;
						z-index: 2;
						background: white;
						margin-top: 10px;
						width: 1000px;
						height: 375px;
						border-radius: 5px;
						display: none;
						justify-content: space-between;
							
						.sub-parrafo{
							width: 25%;
							padding-top: 30px;
							padding-left: 20px;

							p{
								font-size: 15px;
								padding-bottom: 15px;
								font-weight: bold;
							}

							.sub-items{
								padding-bottom: 10px;

								a{
									color: $colorBlue;
									border-bottom: none;
								}
							}
						}

					}

					#sub-temporal{

						position: absolute;
						z-index: 2;
						background: white;
						margin-top: 10px;
						width: 1000px;
						height: 375px;
						border-radius: 5px;
						display: none;
						justify-content: space-between;
							
						.sub-parrafo{
							width: 25%;
							padding-top: 30px;
							padding-left: 20px;

							p{
								font-size: 15px;
								padding-bottom: 15px;
								font-weight: bold;
							}

							.sub-items{
								padding-bottom: 10px;

								a{
									color: $colorBlue;
									border-bottom: none;
								}
							}
						}
					}
	
					#sub-emprendimiento{
						background: white;
						position: absolute;
						z-index: 2;
						margin-top: 10px;
						width: 250px;
						height: 210px;
						border-radius: 5px;
						display: none;

						p{
							font-size: 14px;
							font-weight: bold;
							padding-top: 30px;
							padding-left: 20px;
							padding-bottom: 15px;
						}

						#sub-items-emprendimiento{
							padding-left: 20px;
							padding-bottom: 15px;

							a{
								color: $colorBlue;
								border-bottom: none;
							}
						}
					}



				}

				li:hover > a{
					color: $colorOrange;
					border-bottom: 2px solid $colorOrange;
				}
				

				li:hover #sub-comprar{
					display: flex;
				}

				li:hover #sub-alquilar{
					display: flex;
				}

				li:hover #sub-temporal{
					display: flex;
				}

				li:hover #sub-emprendimiento{
					display: block;
				}
			}

		}

		#help{
			text-decoration: none;
			color: black;
			font-size: 14px;
		}

		#help:hover{
			color: $colorOrange;
		}

	}

}

#medio{
	height: 35px;
	background: #fef1e9;
	text-align: center;
	line-height: 30px;
	position: relative;
	z-index: 1;

	span{
		color: $colorOrange; 
	}

	a{
		text-decoration: none;
		font-size: 13.2px;
		font-weight: bolder;
		color: black;
	}

	a:nth-child(2){
		color: $colorOrange;
	}
}

//section -header

section{

	#fondo{
		height: 600px;
		position: relative;
		z-index: 1;
		background: url("img/dfp-venta.jpg");


		#transparente{
			width: 78%;
			min-height: 280px;
			position: absolute;
			top: 60px;
			left: 160px;
			border-radius: 6px;	
			background-color: rgba(66, 60, 60, 0.55);


			h1{
				text-align: center;
				font-size: 33px;
				font-weight: normal;
				color: white;
				padding:29px;
			}

			//inico del menu-centrar

			#menu-central{
				width: 95%;
				@include ordenarMenu(space-around);

				margin: 0px auto;
				height: 46px;
				background-color: #484542a8;
				border-radius: 20px;

				li{
		
					flex: 1;
					margin:2px;
					text-align:center;
					padding-top: 9px;
					padding-bottom: 9px;
					border-radius: 20px;

					a{
						@include sinEstilos(white);
						font-size: 17px;
						font-weight: bold;
						display: block;
						
					}
				}

				li:nth-child(1){
					background: $colorOrange;
				}

			}		//fin del menu-centrar

			//inicio de buscador

			#wrap{
				background: white;
				width: 95%;
				height: 46px;
				margin: 0px auto;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 5px;

				display: flex;
				flex-wrap: no-wrap;
				align-items: center;


				#desplegable{
					width: 18%;
					height: 100%;
					line-height: 45px;
					display: block;
					border-right: 1px solid #ccc;
					cursor: pointer;
					

					a{
						@include sinEstilos(black);
						padding-left: 15px;
					}

					span{
						position: relative;
						left: 35px;
					}
				}

				input[type="text"]{
					height: 90%;
					width: 66%;
					padding-left: 15px;
					font-size: 17px;
					background: transparent;
					border: none;
					color: #black;
				}

				#boton{
					width: 18%;
					height: 100%;
					line-height: 45px;
					text-align: center;
					cursor: pointer;
					background-color: $colorOrange;
					border-radius: 0px 5px 5px 0px;
					transition: 300ms;

					a{
						@include sinEstilos(white);
						font-weight: bold;
					}

					span{
						color: white;
						font-size: 13px;
						padding: 3px;
					}
				}

				#boton:hover{
					background-color: #fc7b27bd;
				}

				 //fin de la barra de busqueda
			}

				/*div oculto*/

			#oculto{
				display: flex;
				width: 95%;
				height: 75px;
				margin: 0px auto;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;


				#ambientes{
					width: 25%;

					p{
						font-size: 12px;
						padding-bottom: 10px;
						color: white;
						font-weight: bold;
						}			

					button{
						color: $colorOrange;
						height: 31px;
						width: 42px;
						margin: 2px;
						border-radius: 20px;
						background: white;
						border: 1px solid $colorOrange;
						cursor: pointer;
					}
		
				}

				#precios{

					p{
						font-size: 12px;
						padding-bottom: 5px;
						color: white;
						font-weight: bold;
					}


					#wrap-precio{
						width: 290px;
						height: 47px;
						padding-top: 4px;
						text-align: center;
						background: white;
						border-radius: 5px;

						input{
							width: 140px;
							height: 90%;
							background: transparent;
							border: none;
							padding-left: 10px;
							font-size: 16px;
							color: #877f77;
						}

						#hasta{
							border-left: 1px solid #ccc;
						}
					}

				} 

				#resultado-busqueda{

					p{
						font-size: 12px;
						padding-bottom: 5px;
						color: white;
						font-weight: bold;
					}

					#wrap-resultado{
						background: white;
						width: 179px;
						height: 47px;
						text-align: center;
						border-radius: 5px;

						#listado{
							width: 48%;
							height: 81%;
							margin-top: 4px;
							font-size: 17px;
							background: $colorBlue;
							color: white;
							border-radius: 5px 0px 0px 5px;
							border: none;
							cursor: pointer;

						}

						#mapa{
							margin-left: -8px;
							width: 48%;
							height: 81%;
							font-size: 17px;
							background: transparent;
							border-radius: 0px 5px 5px 0px;
							border: none;
							cursor: pointer;
						}

					}
				}

				#boton-buscar{

					button{
						width: 181px;
						height: 47px;
						border-radius: 5px;
						border: none;
						background: $colorOrange;
						color: white;
						font-size: 15px;
						font-weight: bold;
						margin-top: 20px;
						cursor: pointer;

						span{
							font-size: 13px;
						}
					}
				}

				#boton-buscar:hover button{
					background-color: #ec955b; 
				}
			}


				//inicio de busqueda avanzada

			#avanzada{
				@include sinEstilos(white);
				display: block;
				margin-top: 20px;
				margin-bottom: 30px;
				text-align: center;
				font-size: 14px;
				cursor: pointer;
				font-weight: bold;
			}

			#ocultar{
				@include sinEstilos(white);
				display: block;
				margin-top: 20px;
				margin-bottom: 30px;
				text-align: center;
				font-size: 14px;
				cursor: pointer;
				font-weight: bold;
			}

		}

	}


	//contenido central

	#articulo-central{
		width: 100%;
		height: 265px;
		background-color: #f0f0f0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items:center;


		#wrap-articulos{
			width: 85%;
			height: 145px;
			background: white;
			position: absolute;
			top: 20px;
			box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.17), -1px -1px 10px -1px rgba(0, 0, 0, 0.17);
			display: flex;
			justify-content: space-around;

			#articulos{
				padding-top: 25px;
				width: 23%;

				span{
					float: left;
					font-size: 50px;
					padding-right: 25px;
					color: $colorOrange;
				}

				h2{
					font-size: 18px;
				}

				p{
					font-size: 14px;
				}
			}
		}

	}

	#inmuebles{
		width: 100%;
		height: 250px;
		background: white;

		h1{
			padding-top: 25px;
			padding-bottom: 25px;
			position: relative;
			left: 100px;
		}


		#wrap-inmuebles{
			width: 85%;
			margin: 0px auto;
			display: flex;
			justify-content: space-between;

			.tipo-inmueble{
				width: 25%;

				h3{
					padding-bottom: 10px;
					font-size: 18px;
					color: $fuenteInmuebles;
				}

				p{
					padding-bottom: 3px;

					a{
						font-size: 14px;
						text-decoration: none;
						padding-bottom: 7px;
						color: $colorBlue;
					}
				}

				#mas{
					font-size: 13px;
					text-decoration: none;
					font-weight: bold;
					color: $colorBlue;
				}
			}
		}
	}
}

//pie de pagina

#footer{
	background: $fondoGris;


	#pie-superior{
		width: 85%;
		margin: 0px auto;
		padding-bottom: 35px;
		display: flex;
		justify-content: space-between;


		h3{
			font-size: 14px;
			padding-top: 20px;
			padding-bottom: 10px;
		}

		li{
			list-style: none;
			padding-bottom: 5px;
			

			a{
				text-decoration: none;
				color: $colorLetrasFooter;
				font-size: 13px;
				font-weight: bold;
				transition: 300ms;
			}
		}

		li:hover a{
			color: $colorBlue;
		}
	}
	
	#pie-inferior{
		width: 85%;
		margin: 0px auto;
		padding-top: 35px;

		#politicas{
			font-size: 14px;

			a{
				color: $colorBlue;
				text-decoration: none;
			}

			a:hover{
				text-decoration: underline;
			}
		}

		p{
			padding-top: 25px;
			padding-bottom: 25px;
			font-size: 14px;
			color: $colorLetrasFooter;
		}


	}
}















